 body {
   background-color: #303030;
 }

/* Til header */
header {
  background-color: orange;
  height: 100px;
  width: 100%;
}

/* Til Navbar */
nav {
  background-color: pink;
  height: auto;
  width: 100%;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav li {
  text-decoration: none;
  list-style: none;
  padding-right: 20px;
}

.nav li:last-child{
  padding-right: 0;
}

/* Til Banner */
.banner {
  background-color: green;
  height: 350px;
  width: 100%;
}

/* Til H1 ved landing page */
.firstpartoftitle {
  color: white;
  display: flex;
  justify-content: center;
}
.secondpartoftitle {
  color: white;
  display: flex;
  justify-content: center;
}

/* Til Text og billederne til Landing Page */
.textandpictureforLP {
  display: flex;

  justify-content: center;
  height: 100%;
  width: auto;
}
/* Til par nr 1 */
.partner1 {
  
}
.picture1forLP {
  background-color: blue;
  height: 50px;
  width: auto;
}
.textbox1forLP {
  height: 50px;
  width: auto;
}
/* Til par nr 2*/
.picture2forLP {
  background-color: blue;
  height: 50px;
  width: auto;
}
.textbox2forLP {
  height: 50px;
  width: auto;
}

/* Til par nr 3 */
.picture3forLP {
  background-color: blue;
  height: 50px;
  width: auto;
}
.textbox3forLP {
  height: 50px;
  width: auto;
}
