 body {
   background-color: #303030;
   margin: 0;
   overflow-x: hidden;
 }

/* Til header */
header {
background-color: #282828;
height: 100px;
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
border-bottom: 2px solid;
border-color: #116db6;
}
header img {
display: flex;
flex-direction: row;
justify-content: flex-start;
height: 50px;
width: 50px;
padding-top: 25px;
padding-left: 50px;
margin: 0;

}

header ul {
display: flex;
flex: 1;
justify-content: space-around;
align-items: center;
margin: 0;
padding-right: 30%;
padding-left: 25%;
}

header li {
list-style: none;
margin: 0;
color: white;
display: flex;
font-family: "Play", sans-serif;
font-size: 20px;
}

body{
margin: 0;
}
.top-nav ul{
display: flex;
list-style: none;
margin: 0;
padding: 0;
background: #282828;
}
.top-nav li a, .col p{
padding: 20px;
margin: 0;
color: #fff;
text-decoration: none;
display: block;
}

.col p {
text-decoration: underline;
}
.top-nav li a:hover{
background: rgba(0,0,0,.4);
}
.top-nav li{
margin: 0;
padding: 0;
display: block;
}
.top-nav .inner-nav{
display: none;
position: absolute;
left: 0;
right: 0;
background: #282828;
color: #fff;
}
.top-nav li:hover .inner-nav{
display: block;
}
.inner-nav>div{
display:flex;
}

/* Til Logo med orange trekanter under header */
.orangelogo {
  width: 100%;
  height:100px;
  padding-bottom: 25px;
  padding-top: 5px;

}

.orangelogo img {
  height: 100px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Til Banner */

.slideshow{
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 25%;
  position: relative;
}

.slideshow img {
  display:none;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}



/* Til H1 ved landing page */
.firstpartoftitle {
  color: white;
  display: flex;
  justify-content: center;
}
.secondpartoftitle {
  color: white;
  display: flex;
  justify-content: center;
}

/* Til Text og billederne til Landing Page */
.textandpictureforLP .partners {
  display: flex;
  justify-content: center;
}
.textandpictureforLP .partners .textboxforLP  :nth-child(2n) *:last-child{
  order: -1;
}

.partners {
padding-bottom: 10px;
}
.partners p {
  color: white;

}
.pictureforLP {
  background-color: white;
  height: 302px;
  width: 350px;
}
.pictureforLP img {
  height: 304px;
  width: 350px;
}

.textboxforLP {
  background-color: #303030;
  height: 300px;
  width: 350px;
  border: 2px solid;
  border-color: #116db6;
  overflow: auto;
}
.textboxforLP p, .textboxforBD p, .bundle p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.textboxforBD {
  background-color: #303030;
  height: 210px;
  width: 700px;
  border: 2px solid;
  border-color: #116db6;
  display: flex;
}
.bundle {
  background-color: #ff8c00;
  height: 233px;
  width: 233px;
  border: 2px solid;
  border-left-color: #303030;
  border-top-color: #303030;
  border-bottom-color: #303030;
  border-right-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* Til den orange skæv linje */
.orangeline {
  margin-top: 90px;
  margin-bottom: 100px;
  background-color: #ff8c00;
  height: 100px;
  width: auto;
  transform: rotate(-6deg);
}
.orangeline h2 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding-top: 15px;
  font-family: 'Kanit', sans-serif;
}

.contactcontainer {
  display: flex;
  flex-direction: column;
  font-family: "Play", sans-serif;
  justify-content: center;
  max-width: 1200px;
  style=overflow-y: scroll;
  color: white;
  background-color: grey;
  margin: 10px;
}

.contactcontainer p {
  margin: 20px;
}


input[text=text] {
  border: 0.5px solid grey;
  padding: 12px 10px;
  margin: 10px 0 0 10px;
  display: flex;
  width: 900px;
  border-radius: 7px;
}

input[type=submit] {
  background-color: #282828;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px;
  width: 250px;
  font-size: 20px;
  font-family: "Play", sans-serif;
  display: flex;



}

/* Til footer */

footer {
  color: white;
  background-color: #282828;
  font-family: "Play", sans-serif;
  height: 200px;
  width: 100%;
  border-top: 2px solid;
  border-color: #116db6;
}
